
.services-title{
    text-align: center;
    color: sandybrown;
}



.car-services{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 40px;
    margin: 50px;
 
}





@media only screen and (max-width: 700px) {
    .car-services{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 40px;
      
    }
    
}

@media only screen and (min-width: 701px)and (max-width:992px) {
    .car-services{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 40px;
      
    }
    
}